* { font-weight: 200; font-family: 'Roboto', sans-serif; font-size: 1.5rem; }

body {
    background: linear-gradient(to bottom right, #168aad, #34a0a4, #52b69a, #76c893);
}

#reasons {
    padding: 0.5em;
}

#reasons ul { margin: 0; }
#reasons ul li {
    font-size: 1rem !important;
}

.bg-darkgray {
    color: #ffffff;
    background: #333333;
    border-bottom: 1px solid #000000;
}

.btn:hover {
    cursor: pointer;
}